/* ===== 캔버스/뷰포트 ===== */
.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  /*  width: 1024px;
    height: 768px;*/
  transform-origin: top left;
  box-sizing: border-box;
}

/* ===== 페이지 레이아웃 ===== */
.payment-page {
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}


/* 메인 레이아웃 */
.main-layout {
  flex: 1;
  display: flex;
}

/* 사이드 메뉴 */
/* 오른쪽 컨텐츠 */
.payment-main {
  flex: 1;
  padding: 24px 32px;
  background: #f6f6f6;
}

.page-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.title-divider {
  height: 2px;
  width: 100%;
  background: #000;
  margin-bottom: 20px;
}

/* 테이블 섹션 */
.table-section {
  max-width: 900px;
}

.payment-table :deep(.el-table__header-wrapper th) {
  background: #6D94C5;
  text-align: center;
  font-weight: 700;
  color:#ffffff;
  border-radius: 4%;
}

.payment-table :deep(.el-table__row) {
  font-size: 13px;
}

/* 상태 색상 */
.status-text {
  color: #303133;
}

.status-cancel {
  color: #ff3b30;
  font-weight: 700;
}

.status-refund {
  color: #00a9ff;
  font-weight: 700;
}

/* 페이지네이션 */
.pagination-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}